<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/ic__acoustic_guitar"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic__acoustic_guitar"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicApp">


        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".screens.SignupScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.ShowPlaylist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.ShowSong"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.ShowArtist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.Splash"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>